<header class="site-header">

  <div class="wrapper">
    <div class="face">
          <a href="{{ site.url }}">
              <img alt="photo of Nuno Alexandre" src="/images/nuno-irl.JPG" class="photo" />

          </a>
    </div>
    <ul class="social-media-list">
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      <li>
        {% include icon-rss.html %}
      </li>
      <li>
        {% include icon-linkedin.html username=site.linkedin_username %}
      </li>
      <li>
        {% include icon-mail.html %}
      </li>

    </ul>
    <p class="site-description">{{site.description}}</p>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/">Posts</a>
        {% for my_page in site.pages %}
            {% if my_page.title %}
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
