<header class="site-header">

  <div class="wrapper">
    <div class="face">
          <a href="{{ site.url }}">
              <img title="Nuno Alexandre in Hoher Dachstein, Austria"
                   alt="Nuno Alexandre"
                   src="/images/nunoalexandre.jpeg"
                   class="photo" />
          </a>
    </div>

    <h3>Nuno Alexandre</h3>
    <p class="site-description">{{site.description}}</p>

    <ul class="social-media-list">
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      <li>
        {% include icon-rss.html %}
      </li>
      <li>
        {% include icon-mail.html %}
      </li>

    </ul>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/">Posts</a>
        {% for my_page in site.pages %}
            {% if my_page.title %}
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
