/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-description {
    text-align:center;
    color: #8e8e8e;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.site-nav {
    text-align: center;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    text-align:center;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

   .post {
      .title {
         margin-top: 5px;
      }

      .post-link {
         display: block;
         clear: both;
         font-size: 29px;
         font-weight: 600;
         line-height: 32px;
         margin-bottom: 9.5px;
         font-family: $second-font-family;
      }

      .excerpt p {
         font-size: 19px;
      }
   }   
}

.post-meta {
    font-size: $base-font-size;
    color: $grey-color;

    .mid-dot-divider {
      padding-right: .38em;
      padding-left: .38em;
      font-size: 16px;
      color: rgba(0,0,0,0.10);
    }
}





/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 38px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 18px;
        text-transform: uppercase;


        @include media-query($on-laptop) {
            font-size: 17px;
        }
    }
}

.face {
    position: relative;
    width: 100px;
    margin: 12px auto 20px auto;
}

.face img {
    border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 35px;
    margin-bottom: 10px;
    font-family: $second-font-family;
}

.post-content a {
    border-bottom: 1px dashed #acacac;
}

.social-media-list li {
    display: inline-block !important;
}

.icon--linkedin > svg  {
    width: 23px;
    height: 23px;
}
a.page-link:hover {
    color: #2a7ae2; /*#acacac;*/
}


@media screen and (max-width: 800px) {
    .wrapper {
        padding-right: 50px;
        padding-left: 50px;
    }
}
p + p {
        margin-bottom: 14px;
}

li.post {
   margin-bottom: 70px;
}

blockquote {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0px;
    }
    p {
       font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    }
}

